@import "../../../../node_modules/bootstrap/scss/bootstrap";

.scheduleItemContainer {
  background-color: $gray-100;
  margin-bottom: $spacer;
  padding-top: $spacer;
  border-radius: 1rem;
}

.patientName {
  font-size: $font-size-sm;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include media-breakpoint-up(md) {
    line-height: 38px;
    font-size: $font-size-base;
  }
}